.questionnaire-progress
	span.questionnaire-progress_index 0/10

input#slide-radio-img1.questionnaire-radio_none(type='radio', name='slide-img', value='1')
input#slide-radio-img2.questionnaire-radio_none(type='radio', name='slide-img', value='2')
input#slide-radio-img3.questionnaire-radio_none(type='radio', name='slide-img', value='3')
input#slide-radio-img4.questionnaire-radio_none(type='radio', name='slide-img', value='4')

.block-flex.block-flex_img_4
	label.questionnaire-img_4(for='slide-radio-img1')
		span
		img(src='static_src/img/1-4.jpg')
	label.questionnaire-img_4(for='slide-radio-img2')
		span
		img(src='static_src/img/1-4.jpg')
	label.questionnaire-img_4(for='slide-radio-img3')
		span
		img(src='static_src/img/1-4.jpg')
	label.questionnaire-img_4(for='slide-radio-img4')
		span
		img(src='static_src/img/1-4.jpg')

.questionnaire-block
	// image 1
	.questionnaire-block-button
		a.questionnaire-button(href="#slide1") ← Назад
		a.questionnaire-button(href="#slide2") Дальше →

	// image 2
	.questionnaire-block-button
		a.questionnaire-button(href="#slide1") ← Назад
		a.questionnaire-button(href="#slide3") Дальше →

	// image 3
	.questionnaire-block-button
		a.questionnaire-button(href="#slide1") ← Назад
		a.questionnaire-button(href="#slide4") Дальше →

	// image 4
	.questionnaire-block-button
		a.questionnaire-button(href="#slide1") ← Назад
		a.questionnaire-button(href="#slide5") Дальше →


a(href="" onclick="document.getElementById('questionnaire-form').submit(); return false;" style="display:none;")
