.questionnaire-progress
	span.questionnaire-progress_index 1/10

.block-flex.block-flex_img_4
	h1 Слайд 2

.questionnaire-block-button
	a.questionnaire-button(href="#slide1") ← Назад
	a.questionnaire-button(href="#" onclick="document.getElementById('questionnaire-form').submit(); return false;") Дальше →
