include template/mixin/mixin

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Document

	body
		form#js-form.block-slide(action='#' method='POST')
			#slide1
				include template/blocks/slide1
			#slide2
				+questionnaire-slide(2, false, 'radio2')#radio2(value='21')
			#slide3
				+questionnaire-slide(3, false, 'radio3')#radio3(value='31')
			#slide4
				+questionnaire-slide(4, false, 'radio4')#radio4(value='41')
			#slide5
				+questionnaire-slide(5, false, 'radio5')#radio5(value='51')
			#slide6
				+questionnaire-slide(6, true)