doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Document

	body
		.block-slide
			#slide1
				include template/blocks/slide1
			#slide2
				include template/blocks/slide2
			#slide3
				include template/blocks/slide2
			#slide4
				include template/blocks/slide2
			#slide5
				include template/blocks/slide2
