@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

* {
	font-family: 'OpenSans', Arial, sans-serif;
}

body {
	margin: 0;
	background: #ccc;
}

.questionnaire-img_4 img {
	// background: url('../img/1-4.jpg');
}